{{! render author box }}
{{#author}}
    <div class="author-box-wrap">
        {{#if image}}
            <div class="author-thumb">
                <a class="thumb-image" href="{{url}}" style="background-image: url({{image}})"></a>
            </div>
        {{/if}}
        <h4 class="author-title post-title"><a href="{{url}}">{{name}}</a></h4>
        {{#if bio}}
            <p class="author-description">{{bio}}</p>
        {{else}}
            <p class="author-description">Read <a href="{{url}}">more posts</a> by this author.</p>
        {{/if}}
        <div class="author-social-wrap">
            {{#if website}}<span class="author-social-el"><a href="{{website}}"><i class="fa fa-server"></i>{{website}}</a></span>{{/if}}
            {{#if location}}<span class="author-social-el"><i class="fa fa-location-arrow"></i>{{location}}</span>{{/if}}
        </div>
    </div>
{{/author}}