<div class="single-social-wrap post-title">
    <span class="single-social-title">share on:</span>
    <a class="share-to-social color-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i>
    <span class="share-title">Facebook</span>
    </a>
    <a class="share-to-social color-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i>
    <span class="share-title">Twitter</span>
    </a>
    <a class="share-to-social color-google" href="https://plus.google.com/share?url={{url absolute="true"}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i>
    <span class="share-title">Google +</span>
    </a>
    {{#if image}}
        <a class="share-to-social color-pinterest" href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&amp;media={{image absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-pinterest"></i>
        <span class="share-title">Pinterest</span>
        </a>
    {{else}}
        <a class="share-to-social color-pinterest" href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-pinterest"></i>
        <span class="share-title">Pinterest</span>
        </a>
    {{/if}}
</div>