{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #post tags pulls data from the post }}
<div class="row tn-main-content tn-container">
{{#post}}
    {{! main content }}
    <div class="main-content-wrap single-wrap col-md-8 col-sm-12" role="main">

        <article class="single-post" itemtype="http://schema.org/Article" itemscope=itemscope">
            <div class="meta-bar-wrap">
                <span class="meta-el tag-meta">{{tags separator=''}}</span>
                <span class="meta-el date-meta">{{date format="MMM DD, YYYY"}}</span>
                {{#author}}
                    <span itemprop="author" content="{{name}}" class="meta-el author-meta"><a href="{{url}}">{{name}}</a></span>
                {{/author}}
            </div>
            <div  class="post-title single-title"><h1 itemprop="name">{{{title}}}</h1></div>
            {{! single share }}
            {{> single-share }}
            {{#if image}}
                <div class="thumb-wrap">
                    <img class="full-image" src="{{image}}" alt="{{{title}}}" itemprop="image">
                </div>
            {{/if}}
            <div class="entry">
                {{content}}
            </div>
            {{! single author box }}
            {{> single-navigation}}
            {{! single author box }}
            {{> author-box}}

            {{! display comment }}
            <div id="tn-disqus-comment"></div>
        </article>

    </div>

    {{! main sidebar }}
    <div id="sidebar" class="sidebar-wrap col-md-4 col-sm-12" role="complementary" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
        {{> sidebar }}
    </div>
{{/post}}
</div>